# nvram
allow audioserver nvdata_file:dir rw_dir_perms;
allow audioserver nvdata_file:file create_file_perms;
allow audioserver nvdata_file:lnk_file r_file_perms;
allow audioserver ccci_device:chr_file rw_file_perms;

# fm radio
allow audioserver fm_device:chr_file rw_file_perms;

# Audio
allow audioserver sysfs:file { open read write };
allow audioserver sysfs_devinfo:file { open read write };
allow audioserver sysfs_ccci:file r_file_perms;
allow audioserver sysfs_ccci:dir search;
allow audioserver audiohal_prop:property_service set;

allow audioserver sysfs_boot_mode:file { read open };
#allow audioserver device:chr_file { read write open };
