# Radio devices
type ccci_device, dev_type;
type stpbt_device, dev_type;
type stpgps_device, dev_type;
type stpwmt_device, dev_type;
type hwmsensor_device, dev_type;
type wmtWifi_device, dev_type;
type wmtdetect_device, dev_type;
type gsm0710muxd_device, dev_type;
type mdlog_device, dev_type;
type pmic_adc_device, dev_type;

# Sensors
type als_ps_device, dev_type;
type mtk-adc-cali_device, dev_type;
type gsensor_device, dev_type;
type msensor_device, dev_type;
type gyroscope_device, dev_type;

# Media
type accdet_device, dev_type;
type devmap_device, dev_type;
type fm_device, dev_type;
type Vcodec_device, dev_type;
type M4U_device_device, dev_type;
type mtk_smi_device, dev_type;

# SPM
type spm_device, dev_type;

# NFC
type mt6605_device, dev_type;

# Fingerprint
type esfp0_device, dev_type;
type madev0_device, dev_type;

# IR
type irtx_device, dev_type;

# Block devices
type proinfo_device, dev_type;
type nvram_device, dev_type;
type nvdata_device, dev_type;
type protect1_device, dev_type;
type protect2_device, dev_type;
type logo_block_device, dev_type;
type para_block_device, dev_type;
type mmc_device, dev_type;
