# ==============================================
# Policy File of /system/bingeomagneticd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type geomagneticd_exec , exec_type, file_type;
type geomagneticd ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive geomagneticd;
init_daemon_domain(geomagneticd)
#unconfined_domain(geomagneticd)

# Date : WK14.43
# Operation : Migration
# Purpose : access sensor data and do calibration
allow geomagneticd input_device:chr_file { read ioctl open };
allow geomagneticd input_device:dir { read search open };
allow geomagneticd sysfs:file write;
allow geomagneticd system_data_file:dir { write remove_name add_name };
