type gsm0710muxd_exec, exec_type, file_type;
type gsm0710muxd, domain, domain_deprecated;

init_daemon_domain(gsm0710muxd)

allow gsm0710muxd gsm0710muxd_device:chr_file rw_file_perms;
allow gsm0710muxd radio_device:dir w_dir_perms;
allow gsm0710muxd radio_device:lnk_file create_file_perms;
allow gsm0710muxd devpts:chr_file setattr;
allow gsm0710muxd self:capability { setuid fowner chown };
allow gsm0710muxd sysfs_ccci:dir search;
allow gsm0710muxd sysfs_ccci:file r_file_perms;

allow gsm0710muxd ctl_rildaemon_prop:property_service set;
allow gsm0710muxd radio_prop:property_service set;
allow gsm0710muxd ril_mux_report_case_prop:property_service set;

unix_socket_connect(gsm0710muxd, property, init)
