# ==============================================
# Policy File of /system/bin/guiext-server Executable File

# ==============================================
# Type Declaration
# ==============================================
type guiext-server, domain;
type guiext-server_exec, exec_type, file_type;

# ==============================================
# MTK Policy Rule
# ==============================================
init_daemon_domain(guiext-server)

# to allocate GraphicBuffer
allow guiext-server surfaceflinger:binder call;
allow guiext-server surfaceflinger:fd use;
allow guiext-server gpu_device:chr_file { open read write ioctl };

# to be a service
allow guiext-server guiext-server_service:service_manager add;

# for dump
allow guiext-server system_server:binder call;

# for MiraVision
allow guiext-server graphics_device:chr_file { open read write ioctl };

# for CTS
allow guiext-server platform_app:binder call;
allow guiext-server app_data_file:file write;
