#============= hal_wifi_default ==============
# 2017/7/22: daniel_hk(danielhk@github.com)
allow hal_wifi_default wmtWifi_device:chr_file { open write };
