# Date : WK14.41
# Operation : Migration 
# Purpose : update recovery image
allow install_recovery bootimg_device:chr_file { open read write };
allow install_recovery recovery_device:chr_file { open read write };
allow install_recovery platformblk_device:dir search;
allow install_recovery platformblk_device:blk_file { open read write };
allow install_recovery sysfs:file { open read write };
allow install_recovery tee_part_device:chr_file *;
dontaudit install_recovery system_file:file entrypoint;
