allow kernel nvdata_file:dir search;
allow kernel nvdata_file:file r_file_perms;
allow kernel self:capability dac_override;
allow kernel wifi_data_file:dir search;
allow kernel wifi_data_file:file r_file_perms;

# for /cache/gtp_(clk|ref).bin
allow kernel cache_file:file { write open };

#allow mediaserver device:chr_file { read open ioctl };
#allow mediaserver default_prop:property_service { set };
