# ==============================================
# MTK Policy Rule
# ============


# Date : WK14.40 2014/12/26
# Operation : CTS 5.0_r1
# Purpose : allow access to /data/data/com.android.cts.security/cache/CTS_DUMP for full CTS
allow keystore app_data_file:file write;
