# ==============================================
# MTK Policy Rule
# ============


# Data : 2015/01/14
# Operation : MT6735 SQC bug fix
# Purpose : ALPS01905960 - selinux_warning: audit(1420845354.752:91): avc:  denied  { search }
#           for  pid=194 comm="lmkd" name="23573" dev="proc"
#           ino=915740 scontext=u:r:lmkd:s0 tcontext=u:r:zygote:s0 tclass=dir permissive=0
dontaudit lmkd zygote:dir *;
