# ==============================================
# Policy File of /system/bin/mmc3524xd Executable File 


# ==============================================
# Type Declaration
# ==============================================
type mmc3524xd_exec , exec_type, file_type;
type mmc3524xd ,domain;

#permissive mmc3524xd;
init_daemon_domain(mmc3524xd)

#add permission
allow mmc3524xd gsensor_device:chr_file {open ioctl read write};
allow mmc3524xd msensor_device:chr_file {open ioctl read write};

