type mnld_exec, exec_type, file_type;
type mnld, domain, domain_deprecated;

init_daemon_domain(mnld)
net_domain(mnld)

allow mnld gps_device:chr_file rw_file_perms;
allow mnld stpgps_device:chr_file rw_file_perms;

allow mnld gps_data_file:dir create_dir_perms;
allow mnld gps_data_file:file create_file_perms;

allow mnld agpsd_data_file:dir create_dir_perms;
allow mnld agpsd_data_file:sock_file create_file_perms;
allow mnld mtk_agpsd:unix_dgram_socket sendto;

allow mnld mnld_data_file:dir rw_dir_perms;
allow mnld mnld_data_file:sock_file create_file_perms;
allow mnld mnld_data_file:file create_file_perms;

allow mnld nvdata_file:dir rw_dir_perms;
allow mnld nvdata_file:file create_file_perms;
allow mnld nvdata_file:lnk_file r_file_perms;
allow mnld nvram_device:blk_file rw_file_perms;

allow mnld sysfs_gps_file:dir search;
allow mnld sysfs_gps_file:file rw_file_perms;

allow mnld mnld_prop:property_service set;
allow mnld property_socket:sock_file write;

allow mnld init:unix_stream_socket connectto;
allow mnld system_server:unix_dgram_socket { sendto write };

allow mnld fuse:dir create_dir_perms;
allow mnld fuse:file create_file_perms;

allow mnld storage_file:dir search;
allow mnld storage_file:lnk_file read;

allow mnld mdlog_device:chr_file { read write };

allow mnld block_device:dir search;

file_type_auto_trans(mnld,system_data_file,mnld_data_file);
file_type_auto_trans(mnld,apk_data_file,mnld_data_file);
