type mxg2320d_exec, exec_type, file_type;
type mxg2320d, domain, domain_deprecated;

init_daemon_domain(mxg2320d)

allow mxg2320d msensor_device:chr_file rw_file_perms;
allow mxg2320d gsensor_device:chr_file rw_file_perms;