type pq_exec, exec_type, file_type;
type pq, domain, domain_deprecated;

init_daemon_domain(pq)

binder_use(pq)
binder_call(pq, binderservicedomain)
binder_service(pq)

allow pq pq_service:service_manager add;
unix_socket_connect(pq, property, init)

allow pq pq_conf_prop:property_service set;

allow pq graphics_device:chr_file { open read ioctl };
