type ril-daemon-mtk_exec, exec_type, file_type;
type ril-daemon-mtk, domain, domain_deprecated;

init_daemon_domain(ril-daemon-mtk)
net_domain(ril-daemon-mtk)

allow ril-daemon-mtk ccci_device:chr_file rw_file_perms;
allow ril-daemon-mtk devpts:chr_file rw_file_perms;
allow ril-daemon-mtk self:capability setuid;
allow ril-daemon-mtk sysfs_wake_lock:file rw_file_perms;
allow ril-daemon-mtk sysfs_ccci:dir search;
allow ril-daemon-mtk sysfs_ccci:file r_file_perms;
allow ril-daemon-mtk block_device:dir search;
allow ril-daemon-mtk para_block_device:blk_file rw_file_perms;

allow ril-daemon-mtk self:udp_socket create_socket_perms;
allow ril-daemon-mtk self:capability { setuid net_admin net_raw };

allow ril-daemon-mtk mal_mfi_socket:sock_file { w_file_perms };
allow ril-daemon-mtk mtkmal:unix_stream_socket connectto;

allow ril-daemon-mtk radio_device:dir search;
allow ril-daemon-mtk radio_prop:property_service set;

allow ril-daemon-mtk ctl_muxreport-daemon_prop:property_service set;
allow ril-daemon-mtk ril_mux_report_case_prop:property_service set;
allow ril-daemon-mtk ril_sim_inserted_status:property_service set;
allow ril-daemon-mtk serial_number_prop:property_service set;

unix_socket_connect(ril-daemon-mtk, property, init)

# Access to wake locks
wakelock_use(ril-daemon-mtk)
