# ==============================================
# Policy File of /system/bins62xd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type s62xd_exec , exec_type, file_type;
type s62xd ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(s62xd)
