# ==============================================
# MTK Policy Rule
# ============
allow servicemanager guiext-server:dir { search };
allow servicemanager guiext-server:file { read open };
allow servicemanager guiext-server:process { getattr };
allow servicemanager guiext-server_service:service_manager { add };
