type pq_service, service_manager_type;
type guiext-server_service, service_manager_type;
type nvram_agent_service, service_manager_type;
type etsd_service, service_manager_type;
#type edge_gesture_service, system_api_service, system_server_service, service_manager_type;
