allow surfaceflinger pq_service:service_manager find;

allow surfaceflinger guiext-server_service:service_manager { find add };

allow surfaceflinger debug_prop:property_service set;

allow surfaceflinger mtk_smi_device:chr_file { read write open ioctl };

allow surfaceflinger gpu_device:chr_file rw_file_perms;
