allow system_app fm_device:chr_file rw_file_perms;

allow system_app gyro_orientation_sysfs:file rw_file_perms;
allow system_app fast_charge_sysfs:file rw_file_perms;
allow system_app smartwake_sysfs:file rw_file_perms;
allow system_app perf_control_sysfs:file rw_file_perms;

allow system_app em_svr:unix_stream_socket connectto;

allow system_app radio_data_file:dir { getattr };
