type thermal_manager_exec, exec_type, file_type;
type thermal_manager, domain, domain_deprecated;

init_daemon_domain(thermal_manager)

allow thermal_manager self:capability { fowner fsetid chown fsetid dac_override };
allow thermal_manager proc_thermal:dir search;
allow thermal_manager proc_thermal:file rw_file_perms;
allow thermal_manager proc_mtkcooler:dir search;
allow thermal_manager proc_mtkcooler:file rw_file_perms;
allow thermal_manager proc_mtktz:dir search;
allow thermal_manager proc_mtktz:file rw_file_perms;
allow thermal_manager thermal_manager_data_file:dir rw_dir_perms;
allow thermal_manager thermal_manager_data_file:file create_file_perms;
