# ==============================================
# MTK Policy Rule
# ============

# for early-migration, set as permissive
# permissive ueventd;

# add for sysfs:leds; pls check it on L official policy
allow ueventd sysfs:file setattr;
