# ==============================================
# Policy File of /system/bin/volte_rcs_ua Executable File

# ==============================================
# Type Declaration
# ==============================================
type volte_rcs_ua, domain;
type volte_rcs_ua_exec, exec_type, file_type;
type rcs_ua_proxy_socket, file_type;
# ==============================================
# MTK Policy Rule
# ==============================================
#permissive volte_rcs_ua;
init_daemon_domain(volte_rcs_ua)

# Date : WK14.42
# Operation : Migration
# Purpose : for VoLTE L early bring up and first call
allow volte_rcs_ua socket_device:sock_file write;
allow volte_rcs_ua volte_stack:unix_stream_socket connectto;
allow volte_rcs_ua node:udp_socket node_bind;
allow volte_rcs_ua self:udp_socket { bind create };
allow volte_rcs_ua self:udp_socket read;

# Date : 2015/11/5
# Operation : M Migration
# Purpose : For rcs ua connect to stack by local socket
unix_socket_connect(volte_rcs_ua, volte_stack, volte_stack)

allow volte_rcs_ua rcs_ua_proxy_socket:sock_file write;
