type wifi2agps_exec, exec_type, file_type;
type wifi2agps, domain, domain_deprecated;

init_daemon_domain(wifi2agps)

allow wifi2agps agpsd_data_file:sock_file write;
allow wifi2agps agpsd_data_file:dir search;
allow wifi2agps mtk_agpsd:unix_dgram_socket sendto;
allow wifi2agps self:netlink_socket create_socket_perms;
