type mtk_wmt_launcher_exec, exec_type, file_type;
type mtk_wmt_launcher, domain, domain_deprecated;

init_daemon_domain(mtk_wmt_launcher)

allow mtk_wmt_launcher stpwmt_device:chr_file rw_file_perms;
allow mtk_wmt_launcher wmt_prop:property_service set;

unix_socket_connect(mtk_wmt_launcher, property, init)
