import init.mt8163.usb.rc

on init
    mount tmpfs tmpfs /mnt/media_rw/ mode=0755,uid=1000,gid=1000
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    chown root shell /sys/devices/platform/battery/Custom_RTC_SOC

    # Change dynamic_boost permission
    chown system system /sys/devices/platform/dynamic_boost/dynamic_boost
    chmod 0750 /sys/devices/platform/dynamic_boost/dynamic_boost

    # Enable armv8_deprecated instruction hooks
    write /proc/sys/abi/swp 1

# Disable all AAL functions by default
    setprop persist.sys.aal.function 0

on post-fs-data
    start amzn_drmprov
    start amzn_dha_hmac

    # BT/GPS/FM
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    # Wi-Fi
    exec /system/bin/mknod /dev/wmtWifi c 153 0
    chmod 0666 /dev/wmtWifi
    chown system system /dev/wmtWifi

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

    # Camera
    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF
   
    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF
    
    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF
    
    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    chmod 0660 /dev/FM50AF
    chown system camera /dev/FM50AF

    # SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm
 
    # GPS
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status

    # ATCID
    chmod 660 /dev/ttyGS0 
    chown system /dev/ttyGS0 
    chmod 660 /dev/ttyGS1 
    chown system /dev/ttyGS1

    # Char device for BT 3.0 HS
    exec /system/bin/mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

    setprop vold.post_fs_data_done 1

on init
    export SECONDARY_STORAGE_USB /storage/usbotg

on boot
    insmod /system/lib/modules/ufsd.ko

    # Wi-Fi firmware reload path
    chown wifi wifi /sys/kernel/debug/mtwifi/wlan0/fwpath
    chmod 0666 /sys/kernel/debug/mtwifi/wlan0/fwpath

service atci_service /system/bin/atci_service 
	socket atci-service stream 660 radio system 
	socket atci-serv-fw stream 660 radio system 
	user root 
        disabled
	group radio system  
                       
service atcid-daemon-u /system/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /system/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
    start atci_service
    start atcid-daemon-e

service audio-daemon /system/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot

service wmtLoader /system/bin/wmt_loader
    user root
    group root
    class core
    oneshot

service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
    group system
    class core

service thermal_log /system/bin/thermal_log.sh
    class late_start
    user system
    group system
    oneshot
    disabled

service thermal_qa /system/bin/ThermalBenchmarkAutomation.sh
    class late_start
    user root
    group root
    oneshot
    disabled

service battery_log /system/bin/battery_log.sh
    class main
    user root
    group system
    oneshot
    disabled

service temperature_log /system/bin/temperature_log.sh
    class main
    user root
    group system
    oneshot
    disabled

service dmesg_log /system/bin/dmesg_log.sh
    class main
    user root
    group system
    oneshot
    disabled

service gpu_mem_log /system/bin/gpu_mem_log.sh
    class main
    user root
    group system
    oneshot
    disabled

service logcat_log /system/bin/logcat_log.sh
    class main
    user root
    group system
    oneshot
    disabled

service amzn_drmprov /system/bin/amzn_drmprov_check
    class main
    user root
    group system drmrpc
    oneshot
    disabled

service amzn_dha_hmac /system/bin/amzn_dha_hmac
    class main
    user root
    group system drmrpc
    oneshot
    disabled

service cabc_on_off /system/bin/cabc_start_stop.sh
    class main
    user root
    group system
    oneshot
    disabled

on property:debug.log.thermal_qa.enable=y
    start thermal_qa

on property:vold.decrypt=trigger_restart_framework
    start dmesg_log

on property:debug.log.battery.enable=y
    start battery_log

on property:debug.log.temperature.enable=y
    start temperature_log

on property:debug.log.dmesg.enable=y
    start dmesg_log

on property:debug.log.gpu_mem.enable=y
    start gpu_mem_log

on property:debug.log.logcat.enable=y
    start logcat_log

on property:sys.hwc.video_mode=1
    start cabc_on_off

on property:sys.hwc.video_mode=0
    start cabc_on_off

on property:sys.battery_charging_cv_level=1
    write /sys/devices/platform/battery/Custom_Charging_Mode 1

on property:sys.battery_charging_cv_level=0
    write /sys/devices/platform/battery/Custom_Charging_Mode 0
